.ant-form-item-label > label.ant-form-item-required::before {
  content: "";
}

.ant-form-item-label label {
  display: block;
  color: var(--main-color);
}

.tooltip-icon {
  float: right;
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split,
.ant-form-item-explain {
  text-align: left;
  color: var(--error-color);
}

.ant-form-item-has-error {
  border-color: var(--error-color);
}
