.custom-btn {
  width: 96px;
  background-color: white;
  color: black;
  border: none;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  height: 35px;
}

.custom-btn .anticon {
  float: right;
  margin-left: 8px;
}

.custom-btn:hover,
.custom-btn:focus {
  background-color: var(--main-color);
  color: black;
}

@media (max-width: 767px) {
  .custom-btn {
    width: 100%;
  }
}
