.navbar-result .ant-radio-group {
  border: 1px solid rgba(215, 195, 120, 0.4);
  border-radius: 22px;
  background-color: rgba(215, 195, 120, 0.4);
  width: 620px;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.navbar-result .ant-radio-button-wrapper:first-child {
  border-radius: 22px;
  border-left: none;
}

.navbar-result .ant-radio-button-wrapper,
.navbar-result .ant-radio-button-wrapper:last-child {
  border: none;
  box-sizing: border-box;
  border-radius: 22px;
  color: rgba(215, 195, 120, 0.4);
  font-family: Source Sans Pro;
  background-color: rgba(215, 195, 120, 0);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.navbar-result .ant-radio-button-wrapper:not(:first-child)::before {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-result
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
  background-color: none;
}

.navbar-result
  .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
  background: #d7c378;
  border: 1px solid #d7c378;
  box-sizing: border-box;
  border-radius: 22px;
}

.navbar-result .ant-radio-button-wrapper {
  padding-right: 45px;
  padding-left: 45px;
}

.navbar-result .ant-radio-button-wrapper-checked {
  color: black !important;
}
.navbar-result {
  display: flex;
  justify-content: center;
  height: 10vh;
}
.form-header-result {
  height: 20vh !important;
}
.form-header-result .styled-title-form {
  font-size: 5vh;
}
.content-result {
  height: 50vh;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25vh;
}
.sub-title-result-1 {
  text-align: center;
  height: 5vh;
  font-family: Paris2024;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
}
.sub-title-result-2 {
  text-align: center;
  height: 5vh;
  font-family: Paris2024;
  font-size: 3vh;
  font-style: normal;
  font-weight: 700;
}
.footer-result .ant-btn-round.ant-btn-icon-only {
  width: 45px;
  padding: 28%;
  padding-top: 10px;
}
.align-zoom-bottom{
  height: 10vh;
}
@media only screen and (max-device-width: 767px) {
  .navbar-result .ant-radio-group {
    width: 330px;
    height: 44px;
    justify-content: space-evenly;
  }
  .navbar-result .ant-radio-button-wrapper {
    padding-right: 0px;
    padding-left: 0px;
    width: 75px;
    font-size: 12px;
    text-align: center;
  }
  .navbar-result .ant-radio-button-wrapper,
  .navbar-result .ant-radio-button-wrapper:last-child {
    font-size: 12px;
  }
  .footer-result .ant-btn-round.ant-btn-icon-only {
    width: 40px;
    padding: 0%;
    padding-top: 0px;
    padding-right: 15px;
    float: right;
  }
  .content-result {
    width: 100%;
    margin-left: 0%;
    overflow-y: scroll;
    margin-bottom: 0;
    height: 45vh;
  }
  .footer-result .footer-container {
    height: 9vh;
  }
  .sub-title-result-1 {
    font-size: 1.5vh;
  }
  .sub-title-result-2 {
    font-size: 1.5vh;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer-result .ant-btn-round.ant-btn-icon-only {
    width: 70px;
    padding: 0;
    padding-top: 0px;
    padding-right: 25px;
    float: right;
  }
  .content-result {
    overflow-y: scroll;
    margin-bottom: 0;
  }
  .footer-result .footer-container {
    height: 9vh;
  }
  .sub-title-result-1 {
    font-size: 2vh;
  }
  .sub-title-result-2 {
    font-size: 2vh;
  }
}
