.panel-mes-actions-collapse {
  width: 100%;
}

.panel-mes-actions-collapse
  .ant-collapse-borderless
  > .ant-collapse-item
  > .ant-collapse-content {
  background-color: rgba(0, 0, 0, 0.5);
}

.panel-mes-actions-collapse .panel-mes-actions-header {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  color: white;
  padding: 1vh 0vw;
}

.panel-mes-actions-collapse
  .ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-arrow {
  color: white;
  font-size: 18px;
}

.panel-mes-actions-collapse .panel-mes-actions-contents {
  color: white;
  padding: 1vh 3vw;
}

.panel-mes-actions-collapse th {
  text-align: center;
}

.panel-mes-actions-collapse th:nth-child(2),
.panel-mes-actions-collapse th:nth-child(3) {
  width: 20%;
}

.panel-mes-actions-collapse .panel-description {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  padding: 1vh 0vw;
  opacity: 1;
  transition: opacity 1s;
}

.panel-mes-actions-collapse .panel-hidden {
  display: none;
}

.panel-mes-actions-collapse .table-contents-description,
.panel-mes-actions-collapse .table-contents-gain {
  font-weight: normal;
}
