.cards-section,
.reduire-description-section,
.bars-graph-section,
.panels-section {
  width: 100%;
}

.cards-section,
.panels-section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  column-gap: 70px;
}

.palmares-section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.reduire-description-section {
  margin-top: 40px;
  font-family: "Paris2024";
  font-style: normal;
  font-size: 3vh;
  line-height: 24px;
}
.reduire-description-section-title {
  font-size: 2.5vh;
}
.reduire-title-section {
  text-align: center;
  color: white;
  font-family: "Paris2024";
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
}

.palmares-tops-flops {
  flex-grow: 1;
  padding-left: 12px;
  font-size: 12px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  list-style-type: none;
}

.palmares-mentions {
  margin-top: 20px;
  font-size: 12px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

.bars-graph-section {
  width: 100%;
}

.bars-container {
  position: sticky;
  height: 300px;
  margin-bottom: 16px;
}

.panels-section.section-reduire {
  height: 40vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

.text-if-no-thematic-card {
  font-size: 2vh;
  line-height: 7vh;
}
.card-right-result .card-cojo .ant-card-head .ant-card-head-title {
  margin-top: 4%;
}

@media (max-width: 767px) {
  .cards-section,
  .reduire-description-section,
  .bars-graph-section,
  .panels-section {
    width: 90%;
    margin-left: 5%;
  }

  .cards-section,
  .panels-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 24px;
  }

  .palmares-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 24px;
  }
  .card-right-result .card-cojo .ant-card-head .ant-card-head-title {
    margin-top: 0%;
  }
}

@media (max-width: 767px) {
  .bars-graph-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
  }

  .bars-container {
    height: 186px;
    background-color: var(--bg-color-shade-2);
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .cards-section,
  .panels-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    row-gap: 24px;
  }

  .palmares-section {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 24px;
  }

  .palmares-mentions {
    font-size: 20px;
  }

  .bars-graph-section {
    margin-top: 0;
    padding-top: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--bg-color-shade-2);
    z-index: 20;
  }
  .palmares-tops-flops {
    line-height: 3vh;
  }
  .text-if-no-thematic-card {
    font-size: 2vh;
    line-height: 3vh;
  }
  .card-right-result .card-cojo .ant-card-head .ant-card-head-title {
    margin-top: 0%;
  }
}
