.show-overlay-btn {
  font-family: Paris2024;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  z-index: 1000;
  top: 2vw;
  right: 2vw;
  color: black;
}
.header-container-home {
  height: 20vh;
}
.title-container-home {
  height: 20vh;
}
.title-container-home .hero-container {
  height: 100%;
}
.content-container-home {
  height: 50vh;
}
.footer-container-home {
  height: 10vh;
}
.show-overlay-btn:hover,
.show-overlay-btn:focus {
  background-color: white;
  color: black;
}

.title-container-home .hero-container {
  height: 5vh;
  position: relative;
  background-image: none;
}

.title-container-home .styled-title-container-home {
  color: white;
  text-transform: none;
  font-size: 30px;
  font-family: Paris2024Bold;
  line-height: 3vw;
  text-align: center;
}

.title-container-home .hero-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(180deg, rgba(27, 27, 27, 0) 0%, #1b1b1b 94.31%);
  display: flex;
  align-items: baseline;
  justify-content: center;
}

@media (max-width: 767px) {
  .header-container-home {
    height: 20vh;
  }
  .title-container-home {
    height: 20vh;
  }
  .title-container-home .hero-container {
    height: 100%;
  }
  .content-container-home {
    height: 40vh;
    overflow-y: scroll;
  }
  .footer-container-home,
  .footer-container-home .footer-container {
    height: 20vh;
  }
  .title-container-home .styled-title-container-home {
    font-size: 14px;
    line-height: 6vw;
    font-weight: 900;
    margin-block-end: 0em;
  }
  .title-container-home .hero-wrapper {
    align-items: flex-start;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header-container-home {
    height: 20vh;
  }
  .content-container-home {
    height: 40vh;
    overflow-y: scroll;
  }
  .footer-container-home,
  .footer-container-home .footer-container {
    height: 20vh;
  }
  .title-container-home .styled-title-container-home {
    font-size: 25px;
    line-height: 5vw;
    font-weight: 900;
    margin-block-end: 0em;
  }
  .content-container-home {
    overflow-y: scroll;
  }
}
