.actions-table {
  width: 100%;
  height: 100%;
}

.table-head {
  font-family: Source Sans Pro;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vh;
  height: 24px;
}

.table-head tr {
  font-family: "Paris2024Regular";
  font-size: 20px;
}

.table-head-column {
  text-align: center;
  font-weight: bold;
}

.table-contents {
  font-family: Source Sans Pro;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 3vh;
}

.table-contents-description,
.table-contents-gain {
  font-weight: bold;
}

.table-contents-actions,
.table-contents-gain {
  text-align: center;
}

.table-contents-actions {
  width: 16%;
}

.actions-checkbox .ant-checkbox-inner {
  background-color: transparent;
  border-color: white;
  border-radius: 0;
}

.actions-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white;
}
