.collapse-custom {
  width: 100%;
  background: var(--main-color);
  border: 1px solid #707070;
  overflow: hidden;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 84px;
  padding-right: 84px;
  cursor: default;
}

.panel-header-content {
  display: flex;
  justify-content: row;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: row;
  background-color: #6c633c;
  padding: 20px 84px;
  margin: 12px 0;
}

.info-container-content {
  width: 100%;
  color: white;
}

.info-container-icon {
  margin: 10px 10px 0px 0px;
}

.info-savier-vous {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  color: white;
  font-weight: 500;
  margin: 0;
}

.showDetail {
  font-weight: bold;
  cursor: pointer;
}

.panel-header-span {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.panel-header-span-first-title {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: black;
}

.panel-header-span-second-title {
  font-family: Paris2024;
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 25px;
  color: black;
}

.detail1 {
  margin: 0 8px 0 142px;
}

.first-para {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
  margin: 0 38px 20px 0;
}

.select-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 20px 0;
}

.detail2 {
  margin: 0 8px 0 84px;
}

.input-detail {
  margin-top: 4px;
}

.input-action {
  width: 60px;
}

.input-action .ant-input-number-input {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 30px;
  color: black;
  background: #bcab69;
  border: 1px solid black;
}

/* deep classes */
.ant-collapse
  > .ant-collapse-item.ant-collapse-no-arrow
  > .ant-collapse-header {
  cursor: default;
  padding: 12px 0 12px 0;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 80px 12px 80px;
}

.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 0;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 0;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.input-action .ant-input-number-handler-wrap {
  display: none;
}

/* responsive */
@media (max-width: 767px) {
  .panel-header {
    padding-left: 32px;
    padding-right: 32px;
  }

  .detail1 {
    margin: 0 30px;
  }

  .first-para {
    margin: 0 0 20px 48px;
  }

  .info-container {
    padding: 20px 30px;
  }

  .info-container-icon {
    margin: 10px 20px 0 0;
  }

  .detail2 {
    margin: 32px 32px 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .panel-header {
    padding-left: 38px;
    padding-right: 38px;
  }

  .detail1 {
    margin: 0 8px 0 78px;
  }

  .detail2 {
    margin: 0 38px 0 38px;
  }

  .info-container {
    padding: 20px 38px;
  }
}
