.meals-of-week td {
  width: 5.4vw;
  height: 50px;
  color: white;
  font-weight: bold;
}

@media (max-width: 767px) {
  .meals-of-week td {
    width: 13.8vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .meals-of-week {
    font-size: 20px;
  }

  .meals-of-week td {
    width: 14.4vw;
  }
}
