.meals-of-week td {
  width: 20%;
  height: 50px;
  color: white;
  font-weight: bold;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .meals-of-week {
    font-size: 20px;
  }
}
