.meals-of-week {
  width: 100%;
}

.last-day {
  width: auto !important;
}

.meals-of-week td {
  width: 19%;
  height: 50px;
  color: white;
  font-weight: bold;
}

.meals-of-week td:first-child {
  display: none;
}

@media (max-width: 767px) {
  .meals-of-week td {
    width: 13.8vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .meals-of-week {
    font-size: 20px;
  }

  .meals-of-week td {
    width: 14.4vw;
  }
}
