.left-side-menu {
  background-image: url("/images/menu.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.right-side-menu {
  width: 100%;
  height: 100%;
  margin: 0px auto;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.show-modal-btn {
  font-family: Paris2024;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5vw;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: fixed;
  top: 1.5vw;
  right: 1.5vw;
  z-index: 1000;
}

.intro-page-title {
  font-size: 2.5vw;
  line-height: 2.5vw;
}

.show-modal-btn:hover,
.show-modal-btn:focus {
  background-color: white;
  color: black;
}

.intro-menu-description {
  text-align: center;
  font-family: Source Sans Pro;
  margin: 0vw 7vw 1.5vw;
}

.description-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
}

@media (max-width: 767px) {
  .show-modal-btn {
    font-size: 4vw;
    width: 9vw;
    height: 9vw;
    border-radius: 4.5vw;
    top: 2vw;
    right: 2vw;
  }

  .description {
    padding: 16vw 14vw 10vw 14vw;
    font-size: 22px;
    font-weight: 200;
    line-height: 1.5715;
  }

  .description-container {
    margin-bottom: 14vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .description {
    padding: 5vw 14vw 5vw 14vw;
    font-size: 34px;
    font-weight: 200;
    line-height: 1.5715;
  }

  .description-container {
    margin-bottom: 16vw;
  }
}
