.intro-logo {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.into-titles {
  height: 10vh;
  width: 100%;
  font-size: 2vw;
  line-height: 2vw;
  text-align: center;
}

.second-title {
  font-weight: bolder;
}

.into-container {
  margin: 0vh 10vh;
  font-family: Paris2024;
}

.item-container {
  width: 100%;
}

.intro-parag {
  height: 13vh;
  font-size: 1.6vw;
  line-height: 2vw;
  display: table-cell;
  vertical-align: middle;
  padding-right: 6vw;
}

.into-title {
  height: 13vh;
  width: 28vw;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0vw 7vw;
}

.intro-parag-title {
  font-size: 1.7vw;
  line-height: 2vw;
  font-weight: bolder;
  letter-spacing: 1px;
}

.intro-icon {
  height: 13vh;
  display: table-cell;
  vertical-align: middle;
  padding-left: 5vw;
}

.custom-btn-intro {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  border: 4px solid var(--main-color);
  height: 9vh;
  background-color: var(--bg-color-shade-2);
  color: white;
  font-family: Paris2024;
  font-size: 4vh;
  font-weight: bolder;
}

.custom-btn-intro:hover {
  background-color: grey;
  color: white;
  border: 4px solid white;
}

.center-items-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

@media (max-width: 767px) {
  .into-container {
    margin: 0vw 0vw;
  }

  .into-titles {
    height: 7vh;
    font-size: 4.5vw;
    line-height: 4.5vw;
  }

  .into-title {
    height: 18vh;
    padding: 0vw 2vw;
  }

  .intro-parag-title {
    font-size: 4vw;
    line-height: 4vw;
  }

  .intro-logo {
    margin-top: 8vh;
  }

  .intro-parag {
    height: 18vh;
    font-size: 4vw;
    line-height: 5vw;
    padding-right: 4vw;
  }

  .center-items-container {
    height: 12vh;
  }

  .intro-icon {
    height: 18vh;
    padding-left: 4vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .into-container {
    margin: 0vw 0vw;
  }

  .into-titles {
    height: 7vh;
    font-size: 4.5vw;
    line-height: 4.5vw;
    margin-top: 2vh;
  }

  .into-title {
    height: 22vh;
    padding: 0vw 2vw;
  }

  .intro-parag-title {
    font-size: 4vw;
    line-height: 4vw;
  }

  .custom-btn-intro {
    height: 8vh;
  }

  .intro-logo {
    margin-top: 8vh;
  }

  .intro-parag {
    height: 22vh;
    font-size: 4vw;
    line-height: 5vw;
    padding-right: 3vw;
  }

  .intro-icon {
    height: 22vh;
    padding-left: 3vw;
  }

  .center-items-container {
    height: 12vh;
  }
}
