.header-container {
  height: 22vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.logo {
  margin-top: 30px;
}

.show-overlay-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  color: black;
}
