.show-modal-btn {
  font-family: Paris2024;
  font-style: italic;
  font-weight: bold;
  position: fixed;
  top: 1.5vw;
  right: 1.5vw;
  color: black;
  z-index: 1000;
}

.paris2024-title {
  margin-left: 10px;
  font-size: 1.5vw;
}

.link-to-home-icon {
  color: black;
}

.home-link {
  font-family: Paris2024;
  position: fixed;
  top: 1.5vw;
  left: 1.5vw;
  color: var(--main-color);
}

.styled-title-form {
  margin-top: 3vw;
  font-size: 4vw;
  line-height: 4vw;
}

@media (max-width: 767px) {
  .styled-title-form {
    font-size: 9vw;
    line-height: 7.5vw;
  }

  .paris2024-title {
    font-size: 4vw;
    margin-left: 10px;
  }

  .show-modal-btn {
    font-size: 4vw;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    top: 2vw;
    right: 2vw;
  }

  .home-link {
    top: 2vw;
    left: 2vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .styled-title-form {
    margin-top: 10vw;
    font-size: 9vw;
    line-height: 7.5vw;
  }

  .paris2024-title {
    font-size: 3.5vw;
    margin-left: 10px;
  }

  .show-modal-btn {
    font-size: 4vw;
    line-height: 36px;
    width: 82px;
    height: 82px;
    border-radius: 100%;
    top: 2vw;
    right: 2vw;
  }

  .home-link {
    top: 2vw;
    left: 2vw;
  }
}
