.section-container {
  margin-top: 15vh;
  min-height: 134vh;
}

.section-text-container {
  position: absolute;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5vw;
  text-align: center;
  font-family: Source Sans Pro;
  width: 100%;
  height: 154vh;
}

.intro-last-section .section-text-container {
  height: 124vh;
}

.section-container-full {
  margin: 0vh 8vh;
  position: relative;
  max-width: 100%;
}

.section-text-container h1 {
  color: white;
  font-family: Paris2024;
  margin: 0 auto;
  margin-top: 6vh;
  margin-bottom: 1vh;
  font-weight: 600;
  line-height: 6vh;
  width: 90%;
}

.section-img {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.section-paragraph {
  text-align: left;
  color: #ffffff;
  font-weight: normal;
}

.section-paragraphs-container {
  margin: 5vw;
  margin-top: 4vh;
}

.section-paragraphs-container-full {
  display: flex;
  flex-flow: column wrap;
  height: 60%;
  margin-top: 10vh;
}

.section-paragraphs-container-full > p {
  text-align: left;
  width: 40%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 4vw;
  margin-right: 4vw;
}

.section-source {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2vw;
  word-wrap: break-word;
  margin: 16vw 4vw 0vw 4vw;
  text-align: left;
}
