.footer-container {
  width: 100%;
  height: 10vh;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--bg-color);
}

.footer-action-start {
  top: -16px;
  background-color: white;
  color: black;
  border: none;
  padding-left: 52px;
  padding-right: 52px;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  margin-right: 50px;
}

.footer-action-start:hover,
.footer-action-return:hover {
  color: black;
}

@media (max-width: 767px) {
  .footer-action-start {
    width: 90%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .footer-action-start {
    width: 90%;
    height: 45px;
    top: -22px;
    font-size: 22px;
  }

  .footer-container {
    height: 14vh;
  }
}
