.flex-slider-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.flex-slider-item {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  align-self: auto;
  width: 100%;
}

.flex-container-label {
  display: flex;
  align-content: center;
  align-items: center;
}

.svg-logo-slider {
  margin-right: 7.5px;
}

.text-question {
  font-size: 14px;
  line-height: 20px;
}

.tooltip-icon-slider {
  float: right;
}

.form-slider-component {
  margin-bottom: 0px;
}
