.ant-modal-content .icon-modal {
  margin: 15px 0px 0px 0px;
  font-size: 2.9vw;
  color: black;
}

.icon-modal {
  font-size: 1.9vw;
  color: black;
}

.custom-btn-modal {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  height: 50px;
  border-radius: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.modal-close-btn-modal,
.modal-close-btn-modal:hover {
  z-index: 10001;
  font-size: 1.5vw;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--main-color);
  border-color: var(--main-color);
  color: #000000;
  position: fixed;
  right: 1.5vw;
  top: 1.5vw;
}
.custom-btn-modal:hover,
.custom-btn-modal:focus {
  background-color: var(--main-color);
  color: black;
}
.title-button {
  margin: 0 auto;
  font-family: Paris2024;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  font-size: 1.3vw;
}
.ant-btn-primary {
  border-color: transparent;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 40px;
  color: black;
  top: 35%;
}
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 40px;
  color: black;
  right: -5px;
  top: 35%;
}

.title-modal {
  font-family: Paris2024;
  text-align: center;
  font-style: italic;
  color: black;
  font-size: 1.7vw;
  line-height: 1.7vw;
  margin: 1vw 5vw 0vw 0vw;
  width: 24vw;
  text-transform: none;
}
.ant-modal-wrap {
  background-color: var(--bg-color-shade);
}

.custom-modal .ant-modal-header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 3%;
  padding-bottom: 0%;
  background-color: var(--main-color);
}
.custom-modal .ant-modal-content {
  background-color: var(--main-color);
  border-radius: 32px;
  height: 100%;
}
.custom-modal .ant-carousel .slick-dots li.slick-active button {
  width: 50%;
  height: 12px;
  background: #000000;
  border-radius: 40px;
}

.ant-carousel .slick-dots li button {
  height: 8px;
  background-color: grey;
  border-radius: 40px;
  width: 50%;
}
.ant-carousel .slick-dots-bottom {
  bottom: 0;
  top: 100%;
}

.div-image:only-child {
  width: 82%;
  margin: auto;
}
.div-image {
  width: 50%;
  height: 100%;
  background-size: cover;
}
.text-modal {
  width: 40%;
}
.content-style {
  color: black;
  padding: 2% 1% 0% 2%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-family: Paris2024;
  width: 100%;
}
.container-flex-overlay {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.container-text-button {
  display: flex;
  align-items: center;
  width: 100%;
}
.container-flex-title-modal {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 767px) {
  .title-modal {
    font-size: 15px;
    font-style: italic;
  }
  .content-style {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
  }
  .div-image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .text-modal {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .custom-modal .ant-modal-content {
    margin: 10%;
    top: 6vw;
    height: 100%;
  }
  .modal-close-btn-modal,
  .modal-close-btn-modal:hover {
    right: 2vw;
    top: 2vw;
    font-size: 1.5vw;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .title-button {
    font-size: 3.5vw;
  }
  .ant-modal-wrap {
    background-color: black;
  }

  .icon-modal {
    font-size: 6vw;
    color: black;
  }

  .custom-modal .icon-modal {
    font-size: 7vw;
    margin: 20px 0px 0px 8px;
  }

  .custom-modal .title-modal {
    font-size: 4.5vw;
    line-height: 4.5vw;
    margin: 4vw 8vw 0vw 0vw;
    width: 44vw;
  }

  .div-image:only-child {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .custom-btn-modal {
    height: 70px;
  }

  .custom-modal .icon-modal {
    font-size: 6.5vw;
    margin: 32px 0px 0px 22px;
  }

  .icon-modal {
    font-size: 4vw;
    color: black;
    margin-left: 2vw;
  }

  .custom-modal .title-modal {
    font-size: 4vw;
    line-height: 4vw;
    margin: 3vw 12vw 0vw 0vw;
    width: 44vw;
  }

  .modal-close-btn-modal,
  .modal-close-btn-modal:hover {
    height: 70px;
    width: 70px;
    border-radius: 35px;
    right: 28px;
    top: 28px;
  }

  .ant-modal-wrap {
    background-color: black;
  }

  .custom-modal .ant-modal-content {
    margin: 0%;
    top: 6vw;
    height: 100%;
    border-radius: 55px;
  }

  .div-image:only-child {
    width: 100%;
  }

  .text-modal {
    width: 45%;
    font-size: 16px;
  }

  .content-style {
    font-size: 26px;
  }

  .title-button {
    font-size: 3.5vw;
  }
}
