.icon-modal {
  font-size: 30px;
  color: black;
}

.custom-btn-modal {
  width: 100%;
  background-color: var(--main-color);
  border: none;
  height: 50px;
  border-radius: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.modal-close-btn-modal,
.modal-close-btn-modal:hover {
  z-index: 10001;
  height: 32px;
  width: 32px;
  background: var(--main-color);
  border-radius: 40px;
  border-color: var(--main-color);
  color: #000000;
  position: fixed;
  right: 8px;
  top: 8px;
}
.custom-btn-modal:hover,
.custom-btn-modal:focus {
  background-color: var(--main-color);
  color: black;
}
.title-button {
  margin: 0 auto;
  text-transform: lowercase;
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  color: #000000;
}
.ant-btn-primary {
  border-color: transparent;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 40px;
  color: black;
  top: 35%;
}
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 40px;
  color: black;
  right: -5px;
  top: 35%;
}

.title-modal {
  text-transform: lowercase;
  font-family: Source Sans Pro;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  color: #000000;
}
.ant-modal-wrap {
  background-color: var(--bg-color-shade);
}

.custom-modal .ant-modal-header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 3%;
  padding-bottom: 0%;
  background-color: var(--main-color);
}
.custom-modal .ant-modal-content {
  border-radius: 40px;
  background-color: var(--main-color);
}
.custom-modal .ant-carousel .slick-dots li.slick-active button {
  width: 50%;
  height: 12px;
  background: #000000;
  border-radius: 40px;
}

.ant-carousel .slick-dots li button {
  height: 8px;
  background-color: grey;
  border-radius: 40px;
  width: 50%;
}
.ant-carousel .slick-dots-bottom {
  bottom: 0;
  top: 100%;
}
.div-image {
  width: 50%;
  height: 119px;
  background-size: cover;
}
.text-modal {
  width: 40%;
}
.content-style {
  color: black;
  padding: 5% 5% 0% 5%;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container-flex-overlay {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.container-text-button {
  display: flex;
  align-items: center;
  width: 100%;
}
.container-flex-title-modal {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 1024px) {
  .title-modal {
    font-size: 15px;
    font-style: italic;
  }
  .content-style {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
  }
  .div-image {
    width: 100%;
    height: 119px;
    margin-bottom: 10px;
  }
  .text-modal {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
  }
  .custom-modal .ant-modal-content {
    top: 60px;
    margin: 5%;
  }
  .modal-close-btn-modal,
  .modal-close-btn-modal:hover {
    right: 8px;
    top: 8px;
  }
  .title-button {
    font-size: 12px;
  }
  .ant-modal-wrap {
    background-color: black;
  }
}
