.ant-form-item-label > label.ant-form-item-required::before {
    content: "";
}

.ant-form-item-label label {
    display: block;
    color: white;
}

span[role="img"] {
    float: right;
}

.ant-form-item-control-input-content input {
    background-color: var(--bg-color-shade-3);
    border: 1px solid var(--main-color);
    border-radius: 0;
    color: var(--main-color);
    text-align: center;
}

.ant-form-item-control-input-content input:focus {
    background-color: var(--bg-color-shade);
    color: white;
    border: 1px solid white;
}

.ant-input:hover {
    border-color: 1px solid var(--main-color);
}

.ant-form-item-has-error .ant-form-item-explain,
.ant-form-item-has-error .ant-form-item-split {
    text-align: left;
    color: var(--error-color);
}

.ant-form-item-has-error {
    border-color: var(--error-color);
}
