.left-side-login {
    background-image: url("/images/login.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.right-side-login {
    width: 60%;
    height: 100%;
    margin-left: 20%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container-mobile {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.email-input, .login-submit {
    width: 70%;
    margin-left: 15%;
}

@media (max-width: 767px) {
    .email-input, .login-submit {
        width: 100%;
        margin-left: 0;
    }
    #login{
        padding-top: 50px;
    }
}

