.left-side-login {
  background-image: url("/images/login.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.right-side-login {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container-mobile {
  padding: 30px 30px 0px 30px;
}

.login-fields .ant-form-item-label label {
  font-family: Paris2024;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.email-input,
.login-submit {
  width: 100%;
}

.login-submit {
  margin-top: 8px;
}

.CGU-container {
  display: flex;
}

.CGU-description {
  margin-left: 8px;
  cursor: pointer;
  color: var(--main-color);
}

.CGU-msg-error {
  color: var(--error-color);
}

@media (max-width: 767px) {
  .login-styled-title {
    margin-bottom: 60px;
  }

  #login {
    padding-top: 50px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .login-styled-title {
    margin-bottom: 60px;
  }

  #login {
    padding-top: 50px;
  }

  .login-container-mobile .ant-form-item {
    margin-bottom: 45px;
  }

  .login-container-mobile .custom-btn {
    font-size: var(--tablet-font-size);
    height: 59px;
  }
}
