.wizard-content-left-container {
  position: fixed;
  width: 40%;
  margin-top: 60px;
}

.wizard-content-left-summary-container {
  float: right;
  width: 50%;
}

.wizard-content-left-questions-container {
  float: right;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wizard-content-right-container {
  position: absolute;
  width: 100%;
}

.wizard-content-right-form-container {
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 94px;
  background-color: black;
}

.wizard-content-right-form-parent {
  padding-left: 84px;
  padding-right: 84px;
}

.form-questions-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-family: Paris2024;
  font-size: 1.5vw;
  line-height: 1.8vw;
  color: white;
}

.form-questions-title:first-letter {
  text-transform: uppercase;
}

.mobile-wizard-form-container {
  padding-top: 48px;
}

.pro-step-title-container {
  text-align: center;
  margin-bottom: 70px;
}

.pro-step-title {
  font-family: Paris2024;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.forms-margin {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .mobile-wizard-container {
    margin-bottom: 96px;
  }

  .wizard-content-right-form-parent {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wizard-content-right-form-parent {
    padding-left: 38px;
    padding-right: 38px;
  }
}
