#minus-counter,
#plus-counter {
  margin: 0;
}

.back-to-card {
  height: 100%;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.text-counter {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 600;
}
.tooltip-icon-counter {
  margin-bottom: 20%;
  padding: 5%;
}

.large-text {
  font-size: 50px;
  font-family: Paris2024;
  font-weight: 900;
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  margin: 5%;
}

.flex-container-text {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}
.flex-container-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

@media (max-width: 1024px) {
  .flex-container-button {
    width: 100%;
  }
  .flex-container-text {
    width: 100%;
    padding-bottom: 0;
  }
  .text-counter {
    padding-bottom: 0;
  }
  .back-to-card {
    flex-direction: column;
  }
}
