.anticiper-body-container {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
}

.anticiper-title {
  font-family: Paris2024;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}
.right-container-anticiper {
  width: 50%;
}
.left-container-anticiper {
  width: 50%;
}

@media screen and (max-device-width: 768px) and (max-device-width: 1024px) {
  .anticiper-body-container {
    flex-direction: column;
  }
  .right-container-anticiper {
    width: 100%;
  }
  .left-container-anticiper {
    width: 100%;
  }
}
