.timeline-chart {
  color: white;
}

.ant-timeline.ant-timeline-label .ant-timeline-item-label {
  color: var(--bg-color-shade-4);
}

.ant-timeline-item-content {
  color: white;
}

.ant-timeline-label .ant-timeline-item:nth-child(2) {
  height: 30vh;
}

.first-node {
  height: 30vh;
}

.sub-title-timeline {
  font-size: 2vh;
  color: var(--main-color);
  text-align: center;
}

.ant-timeline-item-last {
  padding-bottom: 0;
}
